<!DOCTYPE html>
<html>
    <head>
        {% include 'bootstrap.html' %}
        <title>BCI CLUB</title>
        
    </head>
    <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
        <h1 class="text-center mt-4 mb-4">{{school}} BCI LAB</h1>
        
        <br>
        <h2 class="text-center mt-4 mb-4">About BCI LAB</h2>
        <div class="row">
        <div class="col-6">
        <p class="lead">
            加入光荣的进化吧！
        </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img class="img-fluid" id="banner" src="/static/image/x1.jpg" alt="x1" height="260">
        </div>
        </div>
        <h2 class="text-center mt-4 mb-4">functions</h2>
        <div>
            {% for student in students %}
                {% include 'student.html' %}
            {% endfor %}
        </div>
        
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2023,Young</p>
    </div>
    {% include 'footer.html' %}
    </body>
</html>